@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: #333;
}

.heropic {
    position: relative;
    width: 100%;
    height: 900px;
}

/* Header */
.header {
    background: none;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.1s ease;
}

.header-hover-zone {
    position: relative;
}

.header:hover,
.header.scrolled {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header:hover a,
.header:hover h1,
.header:hover i,
.header.scrolled a,
.header.scrolled h1,
.header.scrolled i {
    color: #000;
}

.nav-container {
    padding: 0px 70px 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.logo-text {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

.logo {
    display: none;
}

.nav-menu {
    margin-left: 40px;
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-menu a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.nav-menu a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.nav-icons {
    display: flex;
    gap: 20px;
}

.nav-icons i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-icons i:hover {
    color: #000;
}

.dropdown-container {
    position: static;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    z-index: 999;
    margin-left: calc(-50vw + 50%);
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    pointer-events: none;

    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}


.dropdown-menu.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    gap: 60px;
}

.dropdown-column {
    flex: 1;
}

.dropdown-column h3 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

.dropdown-menu li {
    list-style: none;
    margin-bottom: 12px;
}

.dropdown-menu .dropdown-content a {
    display: block;
    padding: 8px 0;
    color: #666;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
    text-transform: none;
    letter-spacing: 0.5px;
}

.dropdown-menu .dropdown-content a:hover {
    color: #000;
    padding-left: 10px;
}

.hamburger-menu,
.close-btn,
.arrow,
.close-btn-li {
    display: none;
}

@media (max-width: 768px) {
    .header {
        background: white;
        color: #000000;
    }

    .logo-text {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        order: 2;
    }

    .logo img {
        width: 100px;
        height: 70px;
        object-fit: cover;
    }

    .nav-container {
        padding: 0px 20px 0px 30px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100%;
        background: white;
        z-index: 1000;
        overflow-y: auto;
        left: 0;
        padding: 0;
        margin-left: 0;
        margin-top: 27px;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu>li {
        list-style: none;
        border-bottom: 1px solid #f0f0f0;
    }

    .nav-menu>li>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .nav-menu a {
        color: #000;
    }

    .dropdown-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        cursor: pointer;
    }

    .arrow {
        font-size: 22px;
        transition: transform 0.3s ease;
    }

    .arrow.open {
        transform: rotate(90deg);
    }

    .hamburger-menu,
    .close-btn,
    .arrow,
    .close-btn-li {
        display: flex;
    }

    .dropdown-container {
        position: static;
        margin-left: 30px;
        margin-right: 20px;
    }

    .dropdown-container>a::after {
        content: '›';
        display: inline-block;
        font-size: 28px;
        font-weight: lighter;
        transform: rotate(90deg);
        transition: transform 0.3s ease;

    }

    .dropdown-menu {
        all: unset;
        display: none;
        list-style: none;
    }

    .dropdown-menu.open {
        display: block;
    }

    .dropdown-content {
        display: block;
        padding: 10px 0;
        gap: 0;
        max-width: 100%;
    }

    .dropdown-column h3 {
        display: none;
    }

    .dropdown-menu li a {
        padding: 16px 30px 16px 50px;
        font-size: 14px;
        font-weight: 400;
        color: #333;
        display: block;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
    }

    .dropdown-menu .dropdown-content a:hover {
        padding-left: 55px;
        color: #000;
    }

    .header:hover .dropdown-menu,
    .dropdown-container:hover .dropdown-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        order: 1;
    }

    .nav-icons {
        display: flex;
        gap: 15px;
        order: 3;
        margin-left: auto;
    }

    .nav-icons i {
        font-size: 15px;
        color: #000000;
        cursor: pointer;
        transition: color 0.3s;
    }
}

/* hero */
.hero-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    display: block;
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    color: black;
    margin-left: 80px;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #444444;
    letter-spacing: 0.5px;
}

.hero-content h1 {
    font-size: 35px;
    margin-bottom: 35px;
    line-height: 1.25;
    letter-spacing: 0.5px;
}

.cta-button {
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    width: fit-content;
    display: inline-block;
    padding: 10px 20px;
    background: none;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
}

.cta-button:hover {
    background: black;
    color: white;
}

.prev,
.next {
    position: absolute;
    bottom: 20px;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.prev {
    right: 105px;
}

.next {
    right: 45px;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 40px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: white;
}

@media (max-width: 768px) {
    .heropic {
        position: relative;
        width: 100%;
        height: 570px;
        margin-bottom: 0px;
    }

    .active1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 60% 50px;
    }

    .active2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 80px;
    }

    .active3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 40% 80px;
    }

    .active4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 40% 50px;
    }

    .hero-content {
        margin-top: 250px;
        margin-left: 30px;
    }

    .hero-content p {
        margin-bottom: 13px;
        font-size: 10px;
        font-weight: 700;
    }

    .hero-content h1 {
        margin-bottom: 20px;
        font-size: 17px;
    }

    .cta-button {
        font-size: 13px;
    }

    .prev,
    .next {
        display: none;
    }
}

/* Bestseller */
.Bestseller {
    background: #fff;
}

.section-title {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
}

.bestseller-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.bestseller-card {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.bestseller-card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 13%;
    background-image: url(resorce/sand.jpg);
    opacity: 0.3;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease, filter 1.5s ease;
    z-index: -1;
}

.bestseller-card:hover::before {
    height: 100%;
    opacity: 0.7;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card img {
    width: 100%;
    max-width: 470px;
    height: auto;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.award-badge {
    position: absolute;
    bottom: 25px;
    left: 20px;
    width: 120px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    font-weight: bold;
}

.award-badge img {
    object-fit: cover;
}

.feature-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 7px;
    color: #000;
}

.card .band {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

.feature-description {
    font-size: 13px;
    font-weight: 500;
    margin-top: 25px;
    color: #000000;
    line-height: 1.6;
}

.cart {
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 40px;
    width: 370px;
    border: 1px solid #fff;
}

.bestseller-card .band,
.bestseller-card .cart,
.bestseller-card .award-badge {
    opacity: 0;
}

.bestseller-card:hover .band,
.bestseller-card:hover .cart,
.bestseller-card:hover .award-badge {
    opacity: 1;
}

.slider-arrow {
    display: none;
}

@media (max-width: 768px) {
    .section-title {
        margin-bottom: 0px;
    }

    .bestseller-grid {
        display: flex;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .bestseller-card {
        height: 600px;
        min-width: 100%;
        transition: transform 0.3s ease;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
    }

    .bestseller-card::before {
        width: 100%;
        height: 100%;
        background-color: #e5e5e5;
        opacity: 1;
    }

    .cart {
        width: 300px;
    }

    .slider-arrow {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(0, 0, 0);
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
        border-radius: 5px;
    }

    .award-badge {
        left: 15px;
        width: 100px;
        bottom: 15px;
    }

    .arrow-left {
        left: 15px;
    }

    .arrow-right {
        right: 15px;
    }

    .bestseller-card .band,
    .bestseller-card .cart,
    .bestseller-card .award-badge {
        opacity: 1;
    }
}


/* gallery */
.gallery {
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: center;
}

.main-image {
    width: 635px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.main-image img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.thumbnails {
    position: absolute;
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnails img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
    border: 1px solid rgb(211, 211, 211);
}

.thumbnails img:hover {
    transform: scale(1.05);
}

.thumbnails img.active {
    border: 2px solid rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .main-image {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .thumbnails {
        position: absolute;
        bottom: 30px;
        left: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .thumbnails img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.2s, border 0.2s;
        border: 1px solid rgb(211, 211, 211);
    }
}

/* image */
.image {
    width: 100%;
    height: auto;
}

.section-title {
    margin-top: 70px;
    margin-bottom: 70px;
}

.section-title h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.section-title p {
    font-size: 13px;
    font-weight: 500;
    color: #666;
}

.image-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    width: 1100px;
    height: 600px;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex: 1;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, flex 0.4s ease;
    transform-origin: top;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 5s ease;
}

.image-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-box:hover .overlay {
    opacity: 0.4;
}

.image-box:hover {
    object-fit: cover;
    transform: scaleY(0.9);
}

.image-grid:hover .image-box:not(:hover) {
    object-fit: cover;
    transform: scaleY(0.9);
}

.image-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
}

.image-text h3 {
    padding-bottom: 40px;
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.image-text p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-box .image-text {
    position: absolute;
    width: 90%;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    z-index: 2;
}

.image-box .image-text p {
    opacity: 0;
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.image-box:hover .image-text {
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.image-box:hover .image-text p {
    opacity: 1;
    max-height: 100px;
    margin-top: 10px;
}

.image-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    width: 1100px;
    height: 600px;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex: 1;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, flex 0.4s ease;
    transform-origin: top;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 5s ease;
}

@media (max-width: 768px) {
    .image {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .image-grid {
        display: flex;
        transition: transform 0.6s ease;
        width: 100%;
        height: 400px;
    }

    .image-box {
        position: relative;
        box-sizing: border-box;
        flex: 0 0 100%;
        min-width: 100%;
        height: 100%;
    }

    .image-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .image-text h3 {
        padding-bottom: 0px;
    }

    .image-box .image-text p {
        opacity: 1;
        max-height: none;
        margin-top: 0px;
        margin-bottom: 30px;
        overflow: visible;
        transition: none;
    }

    .image-box .overlay {
        opacity: 0.3;
    }
}

/* instagram */
.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.section-title {
    margin-top: 70px;
    margin-bottom: 70px;
}

.section-title h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.section-title p {
    font-size: 13px;
    font-weight: 500;
    color: #666;
}

.instagram-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex: 1;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, flex 0.4s ease;
    transform-origin: top;
    width: 100%;
    height: 100%;
}

.instagram-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 5s ease;
}

.instagram-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.instagram-box:hover .overlay {
    opacity: 0.6;
}

.instagram-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.instagram-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.instagram-box .instagram-text {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    z-index: 2;
}

.instagram-box .instagram-text p {
    opacity: 0;
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.instagram-box:hover .instagram-text p {
    opacity: 1;
    max-height: 100px;
    margin-top: 10px;
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 1400px;
    margin-bottom: 50px;
}

.box1 {
    grid-area: 1 / 1 / 3 / 3;
}

.box2 {
    grid-area: 1 / 3 / 2 / 4;
}

.box3 {
    grid-area: 1 / 4 / 2 / 5;
}

.box4 {
    grid-area: 1 / 5 / 2 / 6;
}

.box5 {
    grid-area: 2 / 3 / 3 / 4;
}

.box6 {
    grid-area: 2 / 4 / 3 / 5;
}

.box7 {
    grid-area: 2 / 5 / 3 / 6;
}

.instagram-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex: 1;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, flex 0.4s ease;
    transform-origin: top;
}

.instagram-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 5s ease;
}

@media (max-width: 768px) {
    .image {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .instagram-box {
        position: relative;
        box-sizing: border-box;
        flex: 0 0 100%;
        min-width: 100%;
        height: 100%;
    }

    .instagram img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .instagram-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        margin-bottom: 20px;
        width: 300px;
    }

    .box1 {
        grid-area: 1 / 1 / 3 / 3;
    }

    .box2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .box3 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .box4 {
        display: none;
    }

    .box5 {
        display: none;
    }

    .box6 {
        display: none;
    }

    .box7 {
        display: none;
    }
}

/* Footer */
.footer {
    margin-top: 40px;
    border-top: 1px solid #ddd;
    background: #ffffff;
    padding: 60px 20px 30px;
    color: #000000;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.button {
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2d2e32;
    border: 2px solid #2d2e32;
    transition: all 0.45s;
}

.button:hover {
    transform: rotate(360deg);
    transform-origin: center center;
    background-color: #ffff;
    color: #2d2e32;
}

.button:hover .btn-svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000000;
}

.footer-section .email {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
    font-size: 13px;
}

.footer-section .email .mail {
    padding: 10px;
}

.footer-section .email .sub {
    border-left: 1px solid black;
    padding: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #000;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 30px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-section h3 {
        font-size: 15px;
    }

    .footer-section ul li a {
        font-size: 12px;
    }

    .footer-bottom {
        font-size: 12px;
    }
}

/* Loading Animation */
.loading {
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Scroll Animation */
.scroll-animate {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
}

.scroll-animate.active {
    opacity: 1;
    transform: translateY(0);
}